.ant-card.card {
    width: 335px;
    height: 250px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    justify-content: center;
}

#imgContainer {
    margin-left:-10px;
    margin-bottom: 10px; 
    margin-top: -25px;
}
