#siteBanner{
    background-image: url(./bluekingscollegeshort.jpg);
    height: 500px;
}

#titleInfo {
    padding-top: 110px;
}

#titleInfo > h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
  
#titleInfo > h3 {
    text-align: center;
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

#buttonsContainer {
    text-align: center;
    margin-top: 70px;
}

.bannerButtons {
    margin-left: 15px;
    margin-right: 15px;
}