#profileBody {
  margin: auto;
  margin-top: 80px;
  width: 1500px;
  height: 700px;
  border: 1px solid lightgray;
}

#profileInfoContainer {
  margin: 30px;
}

#groupTabsContainer {
  margin: 30px;
}

