body {
  background: url(../components/ProfilePage/bluekingscollege.jpg) no-repeat
    center center fixed;
  align-content: center;
  
}

ul {
  margin-top: 0;
  padding: 0;
}

#page_container {
  margin-top: 0;
  width: 100vw;
  height: 100vh;
}
