#signInContainer {
  width: 440px;
  height: 380px;
  margin: auto;
  border: 3px solid #004099;
  background-color: white;
  border-radius: 3px;
  padding-bottom: 10px;
}

#headerContainer {
  padding-top: 2px;
  text-align: left;
  height: 20%;
}

#headerContainer > h1 {
  padding-top: 8%;
  text-align: center;
}

#inputContainer {
  width: 380px;
  padding-top: 30px;
  margin: auto;
}

#LogIn {
  width: 100%;
}

#register {
  text-align: center;
  padding-top: 40px;
}

.signOutButton {
  background-color: rgba(255, 0, 0, 0.685);
  color: white;
  justify-self: center;
}

.signOutButton:hover {
  background-color: rgba(255, 255, 255, 0.685);
  color: rgba(255, 0, 0, 0.685);
  border-color: rgba(255, 0, 0, 0.685);
}
