#imageContainer {
    display: flex;
    justify-content: center;
}

.infoHeader {
    font-weight: bold; 
}

.infoLine {
    width: 300px;
  }
  
#preview {
position: relative;
}

input[type="file"] {
display: none;
}
  

#logOutContainer{
    margin-left: 25%;
}
#LogOut {
    width: 200px;
    background-color: salmon;
    border-radius: 5px;
    color: white;
  }
  #LogOut:hover {
    background-color: pink;
    transition: background-color ease-out 200ms;
    color: white;
    border: 1px solid salmon;
  }