#pageBG {
  background-color: #F0F2F2;
  height: 100vh;
}

#profileBody {
  margin: auto;
  margin-top: 80px;
  width: 1500px;
  height: 760px;
  /* border: 1px solid lightgray; */
  background-color: white;
}

#profileInfoContainer {
  margin: 30px;
}

#groupTabsContainer {
  margin: 30px;
}

