#comment_container {
	text-align: center;
	border-radius: 10px;
}
#comment_msg_container {

}
#comment_bar {
	float: left;
	border-bottom: 2px solid gray;
	width: 90%;
}
#comment_input {
	width: 10%;
	height: 100%;
	border: 2px solid gray;
	float: right;
	color: #34a1eb;
}
