#post_container {
	text-align: start;
	background-color: white;
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 20px;
	border: 3px solid grey;
}
#post_top {
	width: 100%;
	float: left;
}
#post_banner {
	height: 50px;
	float: left;
	border-radius: 10%;
}
#post_club_color {
	float: left;
	margin-left: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #002157;
}
.post_button {
	float: right;
}
.post_button_text {
	float: left;
	padding-right: 10px;
}
.red {
	color: red;
}
.grey {
	color: grey;
}
.post_button_img {
	width: 20px;
	height: 20px;
	float: right;
}
.post_date {
	color: grey;
	padding-bottom: 20px;

}
.post_title {
	color: black;
	font-weight: bold;
	padding-bottom: 20px;
}
.post_text {
	color: black;
	font-size: 15px;
	padding-bottom: 20px;
}
#post_image {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 20px;
  	height: 400px;
  	max-width: 100%;
	border-radius: 15px;
}
