#RegisterContainer {
    width: 440px;
    height: 540px;
    margin: auto;
    border: 3px solid #004099;
    background-color: white;
    border-radius: 3px;
    padding-bottom: 10px;
  }
  
  #headerContainerR {
    padding-top: 2px;
    text-align: left;
    height: 15%;
  }
  
  #headerContainerR > h1 {
    padding-top: 8%;
    text-align: center;
  }
  
  #inputContainer {
    width: 380px;
    padding-top: 30px;
    margin: auto;
  }
  
  #LogIn {
    width: 100%;
  }
  
  #signIn{
    text-align: center;
    padding-top: -20px;
  }
  
