#imageContainer {
    display: flex;
    justify-content: center;
}

#pic {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}
#pic:hover {
  opacity: 0.3;
  cursor: pointer;
}

.infoHeader {
    font-weight: bold; 
}

.infoLine {
    width: 300px;
  }
  
#preview {
position: relative;
}

input[type="file"] {
display: none;
}
  

#logOutContainer{
    margin-left: 25%;
}
#LogOut {
    width: 200px;
    background-color: salmon;
    border-radius: 5px;
    color: white;
  }
  #LogOut:hover {
    background-color: pink;
    transition: background-color ease-out 200ms;
    color: white;
    border: 1px solid salmon;
  }